#p-1{
    color:rgb(0, 255, 90);
    background-color:rgb(90,58,100) ;

}
#p-2{
    color: rgb(0, 2, 90);
    background-color: rgb(100, 25, 90);

}


#p-3{
    color: rgb(90, 86, 58) ;
    background-color:rgb(100, 58, 58) ;

}

#p-4{
    color: rgb(174, 13, 88);
    background-color:rgb(72, 151, 199) ;

}

#p-5{
    color: rgb(92, 222, 153);
    background-color:rgb(202, 23, 89) ;
}
#p-6{
    color: #000; ;
    background-color:    #000000; 
    ;
}
#p-7{
    color: #47ee5d;  
    background-color: #1322cf; 
}
#p-8{
    color: #8e1818;  
    background-color: #8f1313;
}
#p-9{
    color: #27eae4;  
    background-color: #8a08e1;
}

#p-10{
    color: #12b92b; 
    background-color:  #594386;
}







