#di{
    color:rgb(0, 255, 90);
    background-color:rgb(197, 244, 43) ;

}
#di1{
    color: rgb(0, 2, 90);
    background-color: rgb(100, 25, 90);

}


#di2{
    color: rgb(90, 86, 58) ;
    background-color:rgb(100, 58, 58) ;

}

#di3{
    color: rgb(174, 13, 88);
    background-color:rgb(72, 151, 199) ;

}

#di4{
    
    background-color:rgb(202, 23, 89) ;
}
#di5{
   
    background-color:    #4fe67c; 
    ;
}
#di6{
    
    background-color: #1322cf; 
}
#di7{
    
    background-color: #8f1313;
}
#di8{
    
    background-color: #8a08e1;
}

#di9{
    
    background-color:  #594386;
}







