body {background-color: black;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .main {
    background-color: black;
    width: 700px; 
    margin: 90px auto; 
    border: 2px solid #ccc; 
  }
  
  header, .hero, .content, .sidebar, footer {
    padding: 20px;
    text-align: left;
    color: white;
  }
  
  header {
    background-color: #419ebd; 
  }
  
  .hero {
    background-color: #ac1c37;
  }
  
  .content {
    background-color: #2daf2d; 
  }
  
  .sidebar {
    background-color: #9e2a9c; 
  }
  
  footer {
    background-color: #808080; 
  }