table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid rgb(59, 142, 103);
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #a636ae;
  }