.myDiv {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;

    background-color: rgb(51, 161, 230);
    animation-name: circle;
    animation-duration: 7s;

  }
  
  
  
  @keyframes  circle{
    0%{
        top:400px ;
        left: 100px; 
     
} 

30%{
    top:360px ;
    left: 300px; 
    transform: scale(2);
}

50%{
    top:300px ;
    left: 450px; 
    transform: scale(4);
}

80%{
    top:380px ;
    left: 570px; 
    transform: scale(3.5);
}
100%{
    top:480px ;
    left: 590px; 
    transform: scale(0.5);
}


  }
  