.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
  }
  
  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .flex-image-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .flex-image-container img{
    display: block;
  }
  
  .flex-image-container span{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
  }