#div1 {
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);
}

#div2 {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

#div3{ background-color: rgb(55, 2, 50);
    color: rgb(0, 200, 200);
}
   

#div4{ background-color: rgb(90, 25, 5);
    color: rgb(200, 130, 100);
}



    
#div5{ background-color: rgb(0, 55, 0);
    color: rgb(200, 65, 255);
}
    
