


.parent {
    display: flex;
    flex-direction: row;
    width: 100%; 
    border: 1px solid #ccc; 
  }
  
  .child {
    flex-grow: 1; 
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
  }
  
  
  @media (max-width: 800px) {
    .parent {
      flex-direction: column; 
    }
  }







